<!-- <div class="container-tabs"> -->
    <header>
            <div id="material-tabs">
                    <a id="tab1-tab" href="#tab1" class="active" value="local">Local</a>
                    <a id="tab2-tab" href="#tab2" value="openstack">Openstack</a>
                    <a id="tab3-tab" href="#tab3" value="gcloud">GCloud</a>
                    <a id="tab4-tab" href="#tab4" value="aws">AWS</a>
                    <span class="yellow-bar"></span>
            </div>
    </header>

    <div class="tab-content">
            <div id="tab1">

                <div class="select">
                    <select id="select_cluster_options" class="select-text">

                    </select>
                
                    <span class="select-highlight"></span>
                    <span class="select-bar"></span>
                    <label class="select-label">Select Spark K8s cluster</label>
                </div>

            </div>
            <div id="tab2">
                    <p>Second tab content.</p>
            </div>
            <div id="tab3">
                    <p>Third tab content.</p>
            </div>
                        <div id="tab4">
                    <p>Third tab content.</p>
            </div>
    </div>

    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous">
  </script>
  <script>
    $(document).ready(function() {
		$('#material-tabs').each(function() {

				var $active, $content, $links = $(this).find('a');

				$active = $($links[0]);
				$active.addClass('active');

				$content = $($active[0].hash);

				$links.not($active).each(function() {
						$(this.hash).hide();
				});

				$(this).on('click', 'a', function(e) {

						$active.removeClass('active');
						$content.hide();

						$active = $(this);
						$content = $(this.hash);

						$active.addClass('active');
						$content.show();

						e.preventDefault();
				});
        });
        
        
    });
  </script>

<!-- </div> -->